In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data1_join.csv')

In [26]:
pt1=dict()
for i in df.customer_id.unique():
    cust=dict()
    cust['event_id']=df[(df.customer_id)==i ]['event_id'].nunique()
    cust['survey_id']=df[(df.customer_id)==i ]['survey_id'].nunique()
    cust['action_type']=df[(df.customer_id)==i ]['action_type'].nunique()
    pt1[i]=cust

In [29]:
df2=pd.DataFrame(pt1).T

In [34]:
df2.loc[df2.event_id>1,'event_flag']='multiple'
df2.loc[df2.event_id==1,'event_flag']='single'

In [35]:
df2.loc[df2.survey_id>1,'survey_flag']='multiple'
df2.loc[df2.survey_id==1,'survey_flag']='single'

In [36]:
df2.loc[df2.action_type>1,'action_flag']='multiple'
df2.loc[df2.action_type==1,'action_flag']='single'

In [50]:
(pd.pivot_table(data=df2, index=['survey_flag','event_flag'], columns='action_flag', values='action_type' ,aggfunc='count').fillna(0)/df.shape[0]*100).round(2)

action_flag             multiple  single
survey_flag event_flag
multiple    multiple        0.48    0.54
            single          0.00    0.19
single      multiple        0.64    0.78
            single          0.00   93.08

In [165]:
pd.pivot_table(data=df2, index=['survey_flag','event_flag'], columns='action_flag', values='action_type' ,aggfunc='count').fillna(0)

action_flag             multiple   single
survey_flag event_flag
multiple    multiple       185.0    211.0
            single           0.0     75.0
single      multiple       251.0    303.0
            single           0.0  36234.0